.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #4b4949;
}

h1 {
    font-size: 5em;
    font-family: fantasy;
    margin-right: 10%;
}
.user-list h2 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}
